server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ventas_db
    username: ventas_user
    password: PasswordSeguro123
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
