server:
  port: 8080

spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/ventas_db}
    username: ${DB_USERNAME:ventas_user}
    password: ${DB_PASSWORD:PasswordSeguro123}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        default_schema: public

  sql:
    init:
      mode: never

jwt:
  secret: ${JWT_SECRET:CLAVE_SUPER_SECRETA_123456789_ANTECSIS_SEGURA_2026}
  expiration: ${JWT_EXPIRATION:3600000}

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
